# Ignore Node.js dependencies
javascript/backend/node_modules/

# Ignore build directories
javascript/backend/dist/
javascript/frontend/dist/
javascript/backend/build/
javascript/frontend/build/

# Ignore environment variable files
javascript/backend/.env
javascript/frontend/.env

# Ignore log files
javascript/backend/logs/
javascript/frontend/logs/
javascript/backend/*.log
javascript/frontend/*.log

# Ignore temporary files
javascript/backend/tmp/
javascript/frontend/tmp/
# Ignore Rust target directory
rust/target/

# Ignore Rust Cargo.lock file
rust/Cargo.lock
rust/fib
rust/fib.pdb

# Ignore Haskell compiled files and directories
haskell/dist/
haskell/dist-newstyle/
haskell/*.hi
haskell/*.o
haskell/*.dyn_o
haskell/*.dyn_hi
haskell/*.prof
haskell/*.aux
haskell/*.hcr
haskell/*.hc
haskell/*.chi
haskell/*.chs.h
haskell/*.chi.h
haskell/*.chs.o
haskell/*.chi.o
haskell/*.chi.dyn_o
haskell/*.chs.dyn_o
haskell/*.exe

# Ignore C++ build directories
cpp/build/
cpp/cmake-build-*/

# Ignore C++ object files and executables
cpp/*.o
cpp/*.obj
cpp/*.exe
cpp/*.out
cpp/*.a
cpp/*.lib
cpp/*.so
cpp/*.dylib
cpp/*.dll

# Ignore temporary files
*.tmp
*.log
*.bak
*.swp
